body{
    background-color: rgb(255, 253, 127);
}

h1{
    color :#e16e41;
    font-size :50px;
}

ul{
    list-style-type:square;
    list-style-position: inside;
    border:1px solid #7ce141;
    width: 300px;
    padding: 10px;
}
li{
    background-color: aquamarine;
    border-bottom: 1px dotted rebeccapurple;
    width: 300px;

}